<h1>Hello</h1>
<p><strong>Dear User!</strong></p>
<p>Thanks for signup...</p>
<p>Click the link below to confirm your email:</p>
<a href="{{url}}">Confirm Email</a>
<p>if you face any problem, just contact with <a href="{{support_url}}">support</a>, thank you!</p>
