<h1>Hello</h1>
<p><strong>Dear User,</strong></p>
<p>You requested to reset your forgotten password.</p>
<p>Click the link below to reset your password:</p>
<p><a href="{{url}}">Reset Password</a></p>
<p>If you face any issues, please contact <a href="{{support_url}}">support</a>. Thank you!</p>
